@section Scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="row">
	<table id="Table_01" width="800" height="828" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<img src="Content/img/home-app-site_01.png" width="800" height="499" alt="">
			</td>
		</tr>
		<tr>
			<td>
				<img src="Content/img/home-app-site_02.png" width="800" height="329" alt="">
			</td>
		</tr>
	</table>
	
</div>